@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: fenice;
    src: url('./assets/fonts/fenice.ttf');
}

@font-face {
    font-family: postbus;
    src: url('./assets/fonts/PostBus.ttf');
}
