@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: sarcolenta;
  src: url("./assets/fonts/Sarcolenta.ttf");
}
@font-face {
  font-family: bodoni;
  src: url("./assets/fonts/bodoni.ttf");
}
